<div class="card" style="width: 18rem;" @onclick="NavigateToDetails">
    <img src="@ImageSrc" class="card-img-top" alt="@ImageAlt">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">@Description</p>
        <a href="@Link" class="btn btn-primary">@ButtonText</a>
    </div>
</div>

