<div class="form-group">
    <label for="@HtmlId">@Label</label>
    <input id="@HtmlId"
           name="@Name"
           type="@FieldType"
           placeholder="@Placeholder"
           @bind:event="oninput"
           @bind:get="Value"
           @bind:set="OnInput" 
           class="form-control @FormClass" />
    <div class="form-feedback">
        <small id="answerTextFeedback"
               class="@FeedbackClass">
            @Feedback
        </small>
    </div>
</div>
