@using Microsoft.AspNetCore.Components.Forms

<div class="form-group">
    <label for="@HtmlId" class="form-label">
        @Label
        @if (Required)
        {
            <span class="text-danger">*</span>
        }
    </label>
    <select id="@HtmlId"
            name="@Name"
            @bind:get="Value"
            @bind:set="OnInput"
            class="form-control @FormClass">
            <option value="" disabled>@Placeholder</option>
            @if (Options != null)

            {
                @foreach (var option in Options)

                {
                    <option value="@option.Value">@option.Label</option>
                }
            }
    </select>
    <div class="form-feedback">
        @if (!string.IsNullOrEmpty(Feedback))
        {
            <small id="answerTextFeedback" class="@FeedbackClass">@Feedback</small>
        }
    </div>
</div>