@using Microsoft.AspNetCore.Components.Forms

<div class="form-group">
    <label for="@HtmlId" class="form-label">
        @Label
        @if (Required)
        {
            <span class="text-danger">*</span>
        }
    </label>
    <InputSelect id="@HtmlId" @bind-Value="@Value" class="@CssClass">
        <option value="" disabled>@Placeholder</option>
        @if (Options != null)

        {
            @foreach (var option in Options)

            {
                <option value="@option.Value">@option.Label</option>
            }
        }
    </InputSelect>
    <div class="form-feedback">
        @if (!string.IsNullOrEmpty(Feedback))
        {
            <small id="answerTextFeedback" class="@FeedbackClassName">@Feedback</small>
        }
    </div>
</div>